<div class="mydiv">
  
  <div>
     <h1 align="center">Indian banking Application</h1>  
    </div>
    <hr>
    <br> <br>
    
    
      
     
     <br> <h2 align="center">Trusted partners in the area of banking since last 25 Years.</h2>
     <p> We have a reputation of building proffessional relations with our clients.
     
  
      We have build a strong chain of banking domains across the nation that
        provides employment to skillful youth and well - versed  banking services
        to our customers.
  
     </p>
     <p>Indian banking is trustworthy name in banking sector.</p>
    </div>
    <div class="about" align="left">
     <h2  align="center"> About Us</h2>
     <p> We have build a strong chain of banking domains across the nation that
        provides employment to skillful youth and well - versed  banking services
        to our customers.
  
     </p>
     <hr>
     <p>
            Banking Partners :<br> 
            1. Axis banking <br>
            2. HDFC Banking <br>
            3. ICICI Banking  <br>
                             </p>
  
              
              
            
                             </div>
          <hr>                  
<div class="services" align="left">
  
  <h2 align="center">Services</h2>
   <br>
  
 <a routerLink="/Deposit" routerLinkActive="Active"> Deposit Amount</a> <br>
 <br>
 <a routerLink="/Withdraw" routerLinkActive="Active"> Withdraw Amount</a> <br>
 <br>
 <a routerLink="/Viewbalance" routerLinkActive="Active">Enter accno to view Balance</a> <br>
 <br>
 <a routerLink="/Viewdata" routerLinkActive="Active">Check Balance</a><br>
 <br>
 <a routerLink="/Delete" routerLinkActive="Active"> Delete Record</a> <br>
 
 </div>
 <div class="contact" align="left">
  <hr>
  <h2 align="center"> Contact Us</h2>
  <br><p>
    
     
   
     
     
     <style>
     table, th, td {border:1px solid black;border-collapse: collapse;
     }
     </style>
     
     <body>
     
     
     
     <table style="width:100%">
      <tr>
         <th>S.no</th>
         <th>CityName</th>
         <th>contact</th>
         <th>mail</th>
      </tr>
      <tr>
         <td>1</td>
         <td>noida</td>
         <td>9876543210</td>
         <td>INDnoida@gmail.com</td>
      </tr>
      <tr>
         <td>2</td>
         <td>New Delhi</td>
         <td>9087654321</td>
         <td>INDnewdelhi@gmail.com </td>
      </tr>
      <tr>
         <td>3</td>
         <td>Hyderabad</td>
         <td>9780654321</td>
         <td> INDhyd@gmail.com</td>

      </tr>
         <tr>
            <td>4</td>
            <td> kolkata</td>
            <td>9678054321</td>
            <td>INDkolkata@gmail.com</td>
         </tr>
         <tr>
            <td>5</td>
            <td>Mumbai</td>
            <td>9543216780</td>
            <td>INDmumbai@gmail.com</td>
         </tr>
     </table>
     
     </body>
     
     
     
  </p>



 </div>
 <hr>





 <router-outlet> </router-outlet>